body{
    background-color: aquamarine;
    font: normal 15pt arial;
}
header{
    text-align: center;
    padding: 4%;
    padding-bottom: 100px;   

}
section{
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 20px;
    width: 450px;
    margin: auto;
    align-content: center;
    text-align: center;
    box-shadow: 5px 5px 5px 5px black;

}
footer{
   color: rgb(165, 162, 162);
   text-align: center;
   padding-top: 200px;
}
div{
   padding: 10px;
    align-content: center;
    text-align: center;

} 
img{
    padding: 10px 0px 10px 0px; 
}