body{
    background-color: aquamarine;
    font: normal 15pt arial;
}
header{
    text-align: center;
    padding: 4%;
    padding-bottom: 100px;   

}
section{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    margin: auto;
    align-content: left;
    text-align: left;
    box-shadow: 5px 5px 5px 5px black;

}
footer{
   color: rgb(165, 162, 162);
   text-align: center;
   padding-top: 280px;
}
div{
   padding: 5px;
    align-content: left;
    text-align: left;

}
select#flista{
    width: 150px;
}